<template>
    <HeaderSection/>
    <main>
        <PresentationSection />
        <GeneralFeaturesSection />
        <PrincipalFeatureSection />
        <SecondFeatureSection />
        <ThirdFeatureSection />
        <FormSection />
    </main>
    <FooterSection />
</template>

<script>
import HeaderSection from './HeaderSection/HeaderSection.vue';
import FooterSection from './FooterSection/FooterSection.vue';
import PresentationSection from './MainSection/PresentationSection.vue';
import GeneralFeaturesSection from './MainSection/GeneralFeaturesSection.vue';
import PrincipalFeatureSection from './MainSection/PrincipalFeatureSection.vue';
import SecondFeatureSection from './MainSection/SecondFeatureSection.vue';
import ThirdFeatureSection from './MainSection/ThirdFeatureSection.vue';
import FormSection from './MainSection/FormSection.vue';

export default {
    name: "LandingPage",
    components: {
        HeaderSection,
        FooterSection,
        PresentationSection,
        GeneralFeaturesSection,
        PrincipalFeatureSection,
        SecondFeatureSection,
        ThirdFeatureSection,
        FormSection,
    }
};
</script>

<style scoped>
main{
    padding: 20px;
    overflow: hidden;
}
@media (min-width:768px){
    main{
        padding: 20px 50px;
    }
}
@media (min-width:1400px){
    main{
        padding: 30px 50px;
    }
}
</style>