<template>
    <BackgroundRoad class="back-road" />
    <header>
        <nav>
            <a href="#" class="hover-scale">
               <LogoComplete /> 
            </a>            
            <ButtonRounded text="Iniciar Sesión" target="_blank" onclick="https://portal.kaumon.cl/"/>
        </nav>
    </header>
</template>

<script>
import BackgroundRoad from '@/components/BackgroundRoad.vue';
import ButtonRounded from '@/components/ButtonRounded.vue';
import LogoComplete from '@/components/LogoComplete.vue';
export default {
    name: "HeaderSection",
    components: {
        BackgroundRoad,
        ButtonRounded,
        LogoComplete,
    }
};
</script>

<style scoped>
.back-road{
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
@media (min-width:768px){
    nav{
        padding: 20px 50px;
    }
}
@media (min-width:1400px){
    nav{
        padding: 50px 50px;
    }
}
</style>