<template>
    <div class="line"></div>
    <footer>
        <div class="kaumon-info">
            <a href="#" class="hover-scale">
                <LogoComplete class="logo"/>
            </a>
            <p class="kausana-info">Un producto de <a href="https://kausana.cl/">Kausana</a></p>
        </div>
        <div class="links">
            <a href="#">Políticas de privacidad</a>
            <a href="#">Términos y condiciones</a>
        </div>
    </footer>
    <BackgroundRoad class="back-road" />
</template>

<script>
import BackgroundRoad from '@/components/BackgroundRoad.vue';
import LogoComplete from '@/components/LogoComplete.vue';
export default {
    name: "FooterSection",
    components: {
        BackgroundRoad,
        LogoComplete, 
    }
};
</script>

<style scoped>
.kaumon-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.kausana-info{
    padding-top: 5px;
    font-size: 0.9rem;
}
.kausana-info a{
    font-weight: 600;
    padding: 0;
}
.back-road{
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.links{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
.line{
    background-color: var(--gray-font);
    height: 1px;
    width: calc(100% - 40px);
    margin: 3rem auto 0;
}
a{
    color: var(--black);
    font-size: 0.9rem;
    text-decoration: none;
    padding: 5px 10px;
}
a:hover{
    font-weight: 500;
}

@media (min-width:768px){
    footer{
        padding: 20px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .links{
        text-align: left;
        display: flex;
        flex-direction: row;
        margin-top: 0rem;
    }
    .line{
        width: calc(100% - 100px);
        margin: 5rem auto 0;
    }
}
@media (min-width:900px){
    footer{
        padding: 50px;
    }
    
    .kaumon-info{
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }
    .kausana-info{
        padding-top: 0px;
        padding-left: 10px;
        
    }
}
@media (min-width:1400px){
    footer{
        padding: 50px;
    }
}
</style>