<template>
    <CardFeature 
    title="Central de Monitoreo" 
    bolderText="¡Sé el maestro de las operaciones!" 
    descriptionText="Monitorea tus viajes con nuestra central de monitoreo web moderna y en tiempo real. Recibe alertas y gestiona tu flota con una interfaz que marca la pauta." 
    :imgWebp=img1 
    :imgPng=img2
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/monitoreo.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/monitoreo.png'

export default {
    name: "CardFeature7",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>

</style>