<template>
    <CardFeature 
    title="Gestión documental" 
    bolderText="¡Unifica y domina tu documentación!" 
    descriptionText="Mantén toda la información de tus activos y colaboradores en un solo lugar, recibe alertas como recordatorios y aprueba documentos de manera elegante para un enrolamiento perfecto." 
    :imgWebp=img1 
    :imgPng=img2
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/gestion-documental.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/gestion-documental.png'

export default {
    name: "CardFeature2",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>

</style>