<template>
    <CardFeature 
    title="Planificación" 
    bolderText="¡Diseña viajes épicos!" 
    descriptionText="Configura tus itinerarios de manera individual o masiva, asigna viajes al transporte disponible y mantén el control de la planificación con estilo. Tu logística nunca se había visto tan bien." 
    :imgWebp=img1  
    :imgPng=img2    
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/planificacion.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/planificacion.png'

export default {
    name: "CardFeature5",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>

</style>