<template>
    <CardFeature 
    title="Botón de Pánico y Alertas de Usuario" 
    bolderText="¡Haz que la seguridad sea trendy!" 
    descriptionText="Recibe reportes de alerta y solicitudes de ayuda con nuestro elegante botón de pánico. Configura alertas personalizadas para una gestión proactiva y fomenta la colaboración de una manera que nunca imaginaste." 
    :imgWebp=img1 
    :imgPng=img2
    altImg="Celular usando Kaumon"
    class="mb-4"/>
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/boton-de-panico.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/boton-de-panico.png'

export default {
    name: "CardFeature4",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>
.mb-4 img{
    padding-bottom: 4rem!important;
}
</style>