<template>
    <CardFeature 
    title="Viajes" 
    bolderText="¡Inicia y finaliza tus viajes con un toque!" 
    descriptionText="Desde nuestra aplicación móvil, controla y rastrea los hitos del viaje, permite el ingreso del POD con facilidad y lleva el control a nuevos horizontes." 
    :imgWebp=img1 
    :imgPng=img2
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/viajes.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/viajes.png'

export default {
    name: "CardFeature6",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>

</style>