<template>
    <CardFeature 
    title="E-learning" 
    bolderText="¡Capacitación que nunca fue tan emocionante!" 
    descriptionText="Ofrecemos cápsulas de video, preguntas desafiantes y control total sobre la aprobación y ejecución de cursos. Despierta el aprendizaje continuo y la concientización con un toque de innovación." 
    :imgWebp=img1
    :imgPng=img2
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/e-learning.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/e-learning.png'

export default {
    name: "CardFeature3",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>

</style>