<template>
    <CardFeature 
    title="Formularios digitales"
    bolderText="¡Transforma tu inspección diaria en una experiencia digital!"
    descriptionText="Captura evidencias fotográficas, solicita firmas con estilo y adquiere la geolocalización en un instante. La revolución de la inspección está aquí."
    :imgWebp=img1 
    :imgPng=img2 
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile2W from '@/assets/img/kaumon-mockups/webp/formulario.webp';
import mobile2P from '@/assets/img/kaumon-mockups/png/formulario.png';

export default {
    name: "CardFeature1",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile2W,
            img2: mobile2P,
        }
    },
};
</script>

<style scoped>

</style>