<template>
    <CardFeature 
    title="Reportes" 
    bolderText="¡Da vida a tus datos!" 
    descriptionText="Visualiza la información a través de nuestro dashboard web con KPI y gráficos vibrantes. Descarga datos históricos para análisis puntuales y descubre la belleza en la analítica." 
    :imgWebp=img1 
    :imgPng=img2
    altImg="Celular usando Kaumon" />
</template>

<script>
import CardFeature from '@/components/CardFeature.vue';
import mobile3W from '@/assets/img/kaumon-mockups/webp/reportes.webp'
import mobile3P from '@/assets/img/kaumon-mockups/png/reportes.png'

export default {
    name: "CardFeature8",
    components: {
        CardFeature,
    },
    data() {
        return {
            img1: mobile3W,
            img2: mobile3P,
        }
    },
};
</script>

<style scoped>

</style>