<template>
    <div class="container">
        <div class="text">
            <h3>¿Cómo solicitar la implementación de Kaumon?</h3>
            <p class="bolder">
            <ol>
                <li>Levantaremos tu información y requerimientos.</li>
                <li>Configuraremos el sistema de acuerdo con tus especificaciones en tiempo récord y podrás comenzar a
                    utilizarlo de inmediato.</li>
                <li>¡Listo! No hay un paso tres.</li>
            </ol>
            </p>
        </div>
        <div class="form">
            <div id="pipedrive">
                <div class="pip-forms">
                    <div class="pipedriveWebForms" :data-pd-webforms="webformsUrl"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FormArea",
    data() {
        return {
            webformsUrl: 'https://webforms.pipedrive.com/f/6iLB53TfhHowpye2kRNQvzsuu39VoYzOEZH0mTsEpBjoH1fO4U1CRa79iBGB88837R',
        };
    },
    mounted() {
        window.pipedriveLeadboosterConfig = {
            base: 'leadbooster-chat.pipedrive.com',
            companyId: 11468435,
            playbookUuid: '1b3db4a5-dfde-4101-b6f7-53d7de2ecd7c',
            version: 2
        };

        if (window.LeadBooster) {
            console.warn('LeadBooster already exists');
        } else {
            window.LeadBooster = {
                q: [],
                on: function (n, h) { this.q.push({ t: 'o', n: n, h: h }); },
                trigger: function (n) { this.q.push({ t: 't', n: n }); },
            };
        }

        /* const script = document.createElement('script');
        script.src = 'https://leadbooster-chat.pipedrive.com/assets/loader.js';
        script.async = true;
        document.body.appendChild(script); */

        const script2 = document.createElement('script');
        script2.src = 'https://webforms.pipedrive.com/f/loader';
        script2.async = true;
        document.body.appendChild(script2);
    }
}
</script>

<style scoped>
.container {
    padding-top: 2rem;
}
h3 {
    margin: 1rem 0;
}
p.bolder {
    font-weight: 500;
    padding-bottom: 0.4rem;
    text-align: left;
}
ol {
    width: calc(100% - 20px);
    position: relative;
    left: 20px;
}
li {
    padding-left: 0.5rem;
}
#pipedrive .pip-forms .pipedriveWebForms{
    background-color: var(--white);
    border-radius: 16px;
    padding: 2rem;
    width: calc(100% - 4rem);
}
.form{
    margin-top: 2rem;
}
@media (min-width:768px) {
    p.bolder {
        font-size: 1.4rem;
        width: 100%;
    }
    h3 {
        font-size: 42px;
        line-height: 50px;
        padding-bottom: 0.9rem;
    }
}
@media (min-width:1200px) {
    .text{
        grid-area: texts;
        width: 100%;
    }
    .form{
        grid-area: forms;
        width: 100%;
    }
    .text {
        padding: 20px;
    }

    h3 {
        text-align: left;
    }
    .container{
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "texts texts forms forms forms";
        align-items: center;
    }
}
</style>