<template>
    <section id="formSection">
        <h2>Es tiempo de empezar</h2>
        <FormArea />
    </section>
</template>

<script>
import FormArea from "./FormArea.vue"
export default {
    name: "FormSection",
    components: {
        FormArea,
    }
};
</script>

<style scoped>
#formSection{
    text-align: center;
    margin-top: 4.5rem;
    max-width: 1200px;
}
</style>