<template>
    <section id="general-features">
        <div id="first-card" class="card">
            <h3>Customización <br> y Personalización</h3>
            <p>Aseguramos una experiencia única y a la medida, adaptando el sistema a las necesidades de tu proceso. ¿Lo necesitas? Lo agregamos y listo.</p>
        </div>
        <div id="second-card" class="card">
            <div>
                <h3 class="text-white">Flexibilidad <br>a tu medida</h3>
                <p class="text-white">Nuestro sistema ofrece modularidad, permitiéndote seleccionar y combinar los módulos que mejor se ajusten a tus requerimientos.</p>
            </div>
            <div class="img-container">
                <picture>
                    <source srcset="../../assets/img/kaumon-screen/webp/screen-1.webp" type="image/webp">
                    <source srcset="../../assets/img/kaumon-screen/png/screen-1.png" type="image/png">
                    <source srcset="../../assets/img/kaumon-screen/svg/screen-1.svg" type="image/svg+xml" />
                    <img  src="../../assets/img/kaumon-screen/webp/screen-1.webp" alt="Pantalla de Kaumon" />
                </picture>
            </div>
        </div>
        <div id="third-card" class="card">
            <div>
                <h3 class="text-white">Seguridad y Vanguardia</h3>
                <p class="text-white">Nuestro sistema utiliza tecnologías seguras y vanguardistas para garantizar una protección robusta de datos, proporcionando tranquilidad y confianza en cada operación.</p>
            </div>
            <div class="img-container">
                <picture>
                    <source srcset="../../assets/img/kaumon-screen/webp/screen-2.webp" type="image/webp">
                    <source srcset="../../assets/img/kaumon-screen/jpg/screen-2.jpg" type="image/jpeg">
                    <source srcset="../../assets/img/kaumon-screen/png/screen-2.png" type="image/png">
                    <img  src="../../assets/img/kaumon-screen/webp/screen-2.webp" alt="Pantalla de Kaumon" />
                </picture>
            </div>
        </div>
        <div id="fourth-card" class="card">
            <div>
                <h3>Desarrollo incremental</h3>
                <p>Mejora continua y progresiva del sistema, añadiendo funcionalidades, ajustes y mejoras de manera gradual y constante para optimizar su desempeño y utilidad.</p>
            </div>
            <div class="img-container">
                <picture>
                    <source srcset="../../assets/img/kaumon-mockups/webp/mobile-1.webp" type="image/webp">
                    <source srcset="../../assets/img/kaumon-mockups/jpg/mobile-1.jpg" type="image/jpeg">
                    <source srcset="../../assets/img/kaumon-mockups/png/mobile-1.png" type="image/png">
                    <img  src="../../assets/img/kaumon-mockups/webp/mobile-1.webp" alt="Caminos" />
                </picture>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "GeneralFeaturesSection",
};
</script>

<style scoped>
img{
    width: 100%;
    height: auto;
}
#first-card{
    background-image: url("../../assets/img/kaumon-mockups/jpg/mobile-login-2.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: left 40% top 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#second-card{
    background-color: var(--orange);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#third-card.card{
    background-color: var(--green);
    padding-bottom: 0px;
    overflow: hidden;
}
#second-card .img-container{
    border-radius: 15px;
    overflow: hidden;
    margin-top: 1.2rem;
}
#second-card .img-container img{
    max-width: 100%;
    max-height: 260px;
}
#third-card .img-container{
    border-radius: 15px 0 0 0;
    width: calc(100% + 30px);
    overflow: hidden;
    margin-top: 1.2rem;
    position: relative;
    top: 12px;
    max-height: 260px;
}
#third-card .img-container img{
    width: 100%;
}
#fourth-card{
    background-color: var(--white);
    padding-bottom: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#fourth-card .img-container{
    overflow: hidden;
    max-height: 240px;
    position: relative;
    left: -25px;
    padding-left: 10px;
    width: calc(100% + 50px);
}
#fourth-card .img-container img{
    max-height: 400px;
    margin-top: 1rem;
}
#general-features{
    margin-top: 3.3rem;
    max-width: 1200px;
}
.card{
    border-radius: 16px;
    padding: 30px 25px;
    min-height: 340px;
    margin-bottom: 1rem;
}
p{
    font-size: 0.9rem;
    width: 95%;
    font-weight: 300;
}
@media (min-width:576px){
    #first-card p{
        max-width: 70%;
    }
}
@media (min-width:768px){
    #fourth-card .img-container img{
        margin-top: 0;
    }
    .card{
        margin-bottom: 0;
    }
    #first-card{
        grid-area: first;
    }
    #second-card{
        grid-area: second;
    }
    #third-card{
        grid-area: third;
    }
    #fourth-card{
        grid-area: fourth;
    }
    #general-features{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "first first first second second"
                                "third third fourth fourth fourth";
        grid-gap: 1rem;
    }
    #first-card p {
        max-width: 70%;
    }
}
@media (min-width: 1200px){
    h3{
        font-size: 48px;
        line-height: 52px;
        padding-bottom: 10px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
    }
    #first-card p {
        max-width: 80%;
    }
    #general-features {
        position: relative;
        bottom: 200px;
    }
    #fourth-card h3, #third-card h3{
        margin-top: 1rem;
    }
    #third-card .img-container{
        max-height: 280px
    }
    #fourth-card .img-container img {
        max-height: 500px;
        width: auto;
    }
    #fourth-card .img-container{
        max-height: 310px
    }
}
@media (min-width:1600px){
    #first-card p, #third-card p {
        max-width: 100%;
    }
}
</style>