<template>
    <section id="presentation">
        <h2>Tu herramienta digital para la gestión logística y seguridad conductual</h2>
        <p class="h2-subtitles">Una solución integral para optimizar tus procesos de transporte y fomentar una cultura de seguridad en tus colaboradores</p>
        <p class="h2-subtitles hashtag">#sediferente</p>
        <ButtonRoundedBig text="Solicitar Demo" url="#formSection"/>
        <NotebookMockup />
        <QRCode />
    </section>
</template>

<script>
import NotebookMockup from '@/components/NotebookMockup.vue';
import QRCode from '@/components/QRCode.vue';
import ButtonRoundedBig from '@/components/ButtonRoundedBig.vue';

export default {
    name: "PresentationSection",
    components: {
        NotebookMockup,
        QRCode,
        ButtonRoundedBig,
    }
};
</script>

<style scoped>
#presentation{
    text-align: center;
}
.h2-subtitles.hashtag{
    font-weight: 400;
    transform: scale(0.8);
}
@media (min-width: 1200px) {
    .h2-subtitles.hashtag{
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}
</style>