<template>
    <section id="principal-features">
        <h2>Sé diferente: Gestión logística y seguridad conductual, la combinación perfecta.</h2>
        <swiper 
        :direction="'vertical'"
        :slidesPerView="1"
        :spaceBetween="0"
        :mousewheel="true"
        :pagination="{
            clickable: true,
        }"
        :loop="true" 
        :modules="modules"
        :autoplay="{
            delay: 3500,
            disableOnInteraction: false,
        }"
        class="mySwiper">
            <swiper-slide class="mb-0">
                <CardFeature1 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature2 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature3 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature4 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature5 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature6 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature7 class="mb-0"/>
            </swiper-slide>
            <swiper-slide class="mb-0">
                <CardFeature8 class="mb-0"/>
            </swiper-slide>
        </swiper>
    </section>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import { Autoplay, Mousewheel, Pagination } from 'swiper/modules';
import CardFeature1 from './CardFeature1.vue';
import CardFeature2 from './CardFeature2.vue';
import CardFeature3 from './CardFeature3.vue';
import CardFeature4 from './CardFeature4.vue';
import CardFeature5 from './CardFeature5.vue';
import CardFeature6 from './CardFeature6.vue';
import CardFeature7 from './CardFeature7.vue';
import CardFeature8 from './CardFeature8.vue';

export default {
    name: "PrincipalFeatureSection",
    components: {
        CardFeature1,
        CardFeature2,
        CardFeature3,
        CardFeature4,
        CardFeature5,
        CardFeature6,
        CardFeature7,
        CardFeature8,
        Swiper,
        SwiperSlide,
    },
    setup() {
        return {
            modules: [Mousewheel, Pagination, Autoplay],
        };
    },
};
</script>

<style scoped>
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2.5rem;
}
h2 {
    text-align: center;
    margin: 2.5rem 0;
}
section#principal-features {
    max-width: 1200px;
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.mySwiper{
    border-radius: 16px;
    overflow: hidden;
    cursor: grab;
    height: 780px;
}
@media (min-width: 600px) {
    .mySwiper{
        height: 690px;
    }
}
@media (min-width: 900px) {
    .mySwiper {
        height: 480px;
    }
}
@media (min-width: 1200px) {
    section#principal-features {
        position: relative;
        bottom: 140px;
    }
    .mySwiper{
        height: 540px;
        border-radius: 40px;
    }
    h2 {
        margin-bottom: 50px;
    }
}
</style>
<style>
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--orange);
}
#principal-features span.swiper-pagination-bullet{
    border-radius: 0;
    height: 30px;
    width: 4px;
    margin: 0.6rem;
}
.swiper-slide{
    overflow: hidden;
}
</style>