<template>
    <section id="second-features">
        <h2>Optimiza tu eficiencia <br/>y la de tus clientes</h2>
        <CarouselCards />
    </section>
</template>

<script>

import CarouselCards from '@/components/CarouselCards.vue';
export default {
    name: "SecondFeatureSection",
    components: {
        CarouselCards,
    },
    data() {
        return {

        };
    },

};
</script>

<style scoped>
section#second-features{
    max-width: 100%;
}
h2{
    text-align: center;
    margin: 50px 10px 20px 10px;
}
br{
    display: none;
}
@media (min-width: 800px) {
    h2{
        margin: 50px 50px 20px 50px;
    }
}
@media (min-width: 1200px) {
    br{
        display: initial;
    }
    section#second-features {
        position: relative;
        bottom: 120px;
        padding-top: 60px;
    }
}
</style>