<template>
    <section id="third-feature-1">
        <div class="text">
            <TextFeature 
                title="¿Una solución White Label?" 
                text="Sí, ya sabes, Marca blanca. Personaliza nuestra plataforma con tu marca, ofreciendo a tus clientes una experiencia única y coherente con tu identidad corporativa."
            />
        </div>
        <div class="notebook-container">
            <NotebookMockup class="notebook-swiper" />
        </div>        
    </section>    
</template>

<script>
import TextFeature from '@/components/TextFeature.vue'; 
import NotebookMockup from '@/components/NotebookMockup1.vue';

export default {
    name: "ThirdFeatureSection",
    components: {
        TextFeature,
        NotebookMockup,
        
    },
};
</script>

<style scoped>
section#third-feature-1{
    max-width: 1400px;
    margin-top: 10rem;
    padding-bottom: 4rem;
}
.notebook-container{
    transform: scale(1.7);
    position: relative;
    top: 4rem;
    left: 30vw;
    margin-bottom: 5rem;
}
@media (min-width: 600px) {
    .notebook-container{
        top: 16vw;
        margin-bottom: 20vw;
    }
}
@media (min-width: 1100px) {
    .notebook-container{
        top: 16vw;
        margin-bottom: 25vw;
    }
}
@media (min-width: 1200px) {
    section#third-feature-1{
        width: calc(100% + 100px);
        position: relative;
        left: -50px;
        display: grid;
        grid-template-columns: 50% 50% ;
        padding-bottom: 0px;
        margin-bottom: -150px;
        margin-top: 150px;
    }
    .text{
        position: relative;
        min-width: calc(110% + 65px);
        bottom: 65px;
        padding-left: 1.2rem;
    }
    .notebook-container{
        transform: scale(1.6);
        top: 5vw;
        left: 20vw;
    }
}
</style>
<style>
/* #third-feature-1 span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--orange);
}
#third-feature-1 span.swiper-pagination-bullet{
    border-radius: 0;
    width: 30px;
    height: 4px;
    margin: 0.3rem;
}
#third-feature-1 .swiper-wrapper {
    align-items: start;
} */
</style>