@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* ROOTS */
:root {
    /* FONTS */
    --geo-title: 'Poppins', 'Montserrat', sans-serif;
    /* COLORS */
    --background: #F3F2EE;
    --black: #111111;
    --gray-input: #EDEDED;
    --gray-font: #959595;
    --gray-placeholder: #CFCFCF;
    /* COLORS CARDS */
    --white: #FFFFFF;
    --gray: #E4E4E4;
    --orange: #f5692e; /*  #FC6B28; */
    --yellow: #FABC05;
    --green: #027846;
    /* GRADIENTS */
    --background-img-gradient: linear-gradient(to top, #f3f2ee, #f3f2ee00);
    --gray-back-img-gradient: linear-gradient(to right top, #d6d6d6, #dedede, #e5e5e5, #ededed, #ffffff, #ffffff, #ffffff, #ffffff, #ededed, #e5e5e5, #dedede, #d6d6d6);
    /* SHADOWS */
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
    --soft-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Generals */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--geo-title);
}

body {
    background-color: var(--background) ;
    position: relative;
    min-height: 100vh;
}
.border-red{
    border: 1px solid red;
}

.border-blue{
    border: 1px solid blue;
}

header, footer, main section{
    max-width: 1600px;
    margin: auto;
}

h2{
    color: var(--black);
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    padding: 5px;
}

h3{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0.5rem;
}

.text-white{
    color: var(--white);
}
.back-orange{
    background-color: var(--orange);
    color: var(--white);
}
.back-yellow{
    background-color: var(--yellow);
    color: var(--white);
}
.back-green{
    background-color: var(--green);
    color: var(--white);
}
.back-gray{
    background-color: var(--gray);
    color: var(--black);
}
.back-white{
    background-color: var(--white);
    color: var(--black);
}
.back-none{
    background-color: rgba(0,0,0,0);
    color: var(--black);
}
.mb-0{
    margin-bottom: 0!important;
}
p.h2-subtitles{
    color: var(--gray-font);
    font-size: 25px;
    padding: 20px 20px;
    line-height: 35px;
    margin: auto;
}
.hover-scale{
    transition: transform 0.3s ease;
}
.hover-scale:hover{
    transform: scale(1.05);
}
/* RESPONSIVE */
/* 	
Extra small <576px	
Small ≥576px	
Medium ≥768px	
Large ≥992px	
X-Large ≥1200px	
XX-Large ≥1400px 
*/

@media (min-width:992px){
    h2{
        font-size: 62px;
        line-height: 68px;
        padding: 40px;
    }
    p.h2-subtitles{
        font-size: 30px;
        padding: 0 30px;
        line-height: 40px;
        max-width: 720px;
    }
}

@media (min-width:1200px){
    h2{
        font-size: 72px;
        line-height: 80px;
        padding: 40px 50px;
    }
    p.h2-subtitles{
        font-size: 30px;
        padding: 0 60px;
        line-height: 45px;
        max-width: 970px;
        font-weight: 500;
    }
}