<template>
    <div class="position">
        <picture>
            <source srcset="../assets/img/kaumon-background/background-road.webp" type="image/webp">
            <source srcset="../assets/img/kaumon-background/background-road.png" type="image/png">
            <source srcset="../assets/img/kaumon-background/background-road.svg" type="image/svg+xml" />
            <img  src="../assets/img/kaumon-background/background-road.webp" alt="Caminos" />
        </picture>
        <div class="gradient"></div>
    </div>
</template>

<script>
export default {
    name: "BackgroundRoad",
    props: {
        top: {
            type: Boolean,
        },
    },
};
</script>

<style scoped>
.position{
    z-index: -1;
    width: 100%;
    overflow: hidden;
}
.gradient{
    background-image: var(--background-img-gradient);
    height: 100vh;
    width: 100vw;
}
.gradient{
    position: relative;
    z-index: 1;
    top: -100vh;
    margin-bottom: -100vh;
}
@media (min-width: 1200px) {
    img {
        width: 100%;
        height: auto;
    }
}

</style>