<template>
    <a :href=url>
        <div class="input-submit">{{ text }}</div>
    </a>
</template>

<script>
export default {
    name: "ButtonRoundedBig",
    props: {
        text: {
            type: String,
        },
        url: {
            type: String,
        },
    },
};
</script>

<style scoped>
a{
    padding: 1rem 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-decoration: none;
}
.input-submit:hover{
    box-shadow: var(--soft-shadow);
    transform: scale(1.05);
}
.input-submit{
    background-color: var(--black);
    cursor: pointer;
    color: var(--background);
    border-radius: 25px;
    border: 0px;
    font-family: var(--geo-title);
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
    transition: transform 0.3s ease;
}
@media (min-width:992px) {
    form{
        padding: 2rem 0;
    }
}
@media (min-width:1200px) {
    form{
        padding: 2.5rem 0;
        left: 27px;
    }
    .input-submit{
        font-size: 18px;
        padding: 15px 35px;
        border-radius: 40px;
    }
}
</style>