<template>
    <a :href="onclick">
        {{ text }}
    </a>
</template>

<script>
export default {
    name: "ButtonRounded",
    props: {
        text: {
            type: String,
        },
        onclick: {
            type: String,
        },
    },
};
</script>

<style scoped>
a{
    background-color: var(--black);
    cursor: pointer;
    color: var(--background);
    padding: 8px 20px;
    border-radius: 25px;
    font-family: var(--geo-title);
    text-decoration: none;
    transition: transform 0.3s ease;
}
a:hover{
    box-shadow: var(--soft-shadow);
    transform: scale(1.05);
}
@media (min-width:1400px){
    a{
        border-radius: 35px;
        padding: 16px 35px;
        font-weight: 500;
        font-size: 1.1rem;
    }
}
</style>