<template>
    <div class="card">
        <div class="text">
            <h3>{{ title }}</h3>
            <p class="bolder">{{ bolderText }}</p>
            <p class="description">{{ descriptionText }}</p>
        </div>
        <div class="container">
            <picture>
                <source :srcset='imgWebp' type="image/webp">
                <source :srcset='imgJpeg' type="image/jpge">
                <source :srcset='imgPng' type="image/png">
                <img :src='imgWebp' :alt=altImg />
            </picture>
        </div>
    </div>
</template>

<script>
export default {
    name: "CardFeature",
    props: {
        title: { type: String, },
        bolderText: { type: String, },
        descriptionText: { type: String, },
        imgWebp: { type: String, },
        imgJpeg: { type: String, },
        imgPng: { type: String, },
        altImg: { type: String, },
    },
};
</script>

<style scoped>
img{
    height: 700px;
    width: auto;
    position: relative;
    top: -40px;
}
.container{
    position: relative;
    right: 25px;
    width: calc(100% + 48px);
    display: flex;
    justify-content: center;
    height: 450px;
    overflow: hidden;
    
}
.card{
    background-image: var(--gray-back-img-gradient);
    border-radius: 16px;
    padding: 50px 25px 0 30px;
    overflow: hidden;
    text-align: center;
}
h3{
    padding-bottom: 0.4rem;
}
p.bolder{
    font-weight: 500;
    padding-bottom: 0.4rem;
}
p.description{
    font-size: 0.9rem;
    width: 95%;
    font-weight: 300;
}
@media (min-width:900px){
    .card{
        display: flex;
        text-align: left;
        padding: 30px 0px 0 30px;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        width: 50%;
    }
    .container{
        width: 50%;
        position: static;
    }
    img{
        height: 800px;
        top: -70px;
    }
    p.bolder{
        font-size: 1.4rem;
        width: 100%;
    }
    p.description{
        font-size: 1.3rem;
        width: 100%;
    }
    h3{
        font-size: 42px;
        padding-bottom: 0.9rem;
    }
}
@media (min-width:992px){
    .text{
        padding: 0 0 0 50px;
    }
    img{
        height: 900px;
        top: -90px;
    }
}
@media (min-width:1200px){
    .text{
        grid-area: texts;
        width: 100%;
    }
    .container{
        grid-area: container;
        width: 100%;
    }
    .card{
        height: 540px;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "texts texts texts container container";
    }
    .container{
        height: 540px;
    }
    h3{
        font-size: 60px;
        line-height: 65px;
        font-weight: 500;
        padding-bottom: 1.5rem;
    }
    p.description{
        font-size: 1.55rem;
        line-height: 2rem;
    }
    p.bolder{
        font-size: 1.7rem;
        line-height: 2.1rem;
        font-weight: 600;
    }
    .text{
        padding: 20px;
    }
}
</style>