<template>
    <div class="carousel-cards-container">
        <swiper 
        :breakpoints="{
            768: {
                slidesPerView: 2,
            },
            900: {
                slidesPerView: 3,
            },
            1024: {
                slidesPerView: 4,
            },
            1800: {
                slidesPerView: 5,
            },
        }" 
        :spaceBetween="0" 
        :modules="modules" 
        :autoplay="{
            delay: 0,
            disableOnInteraction: true,
        }" 
        :loop="true" 
        :speed="4000"
        class="mySwiper mt-3">
            <swiper-slide>
                <ImageCard 
                :imgLink='Trip'
                textAlt="Gráfico de Resumen de viajes"
                class="carousel-item back-white p-0"
                />
            </swiper-slide>
            <swiper-slide>
                <NumberCard 
                number="95%"
                text="Índice de seguridad"               
                class="carousel-item back-green"
                />
            </swiper-slide>
            <swiper-slide>
                <ImageCard 
                text="Capacitación en línea"
                :imgLink='Curso'
                textAlt="Capacitación en línea"
                class="carousel-item back-gray"
                /><!-- subtitle="" -->
            </swiper-slide>
            <swiper-slide>
                <ImageCard 
                :imgLink='Panic'
                textAlt="Botón de pánico "
                class="carousel-item back-white p-0"
                />
            </swiper-slide>
            <swiper-slide>
                <NumberCard 
                text="Control y gestión"
                number="100%"
                class="carousel-item back-yellow mb-3"
                />
            </swiper-slide>
            <swiper-slide>
                <ImageCard 
                :imgLink='Traveling'
                textAlt="Video de persona viajando"
                class="carousel-item back-none p-0"
                />
                <NumberCard 
                text="Efectividad"
                number="100%"
                class="carousel-item back-green"
                />
            </swiper-slide>
            <swiper-slide>
                <ImageCard 
                text="Resultado"
                :imgLink='Approved'
                textAlt="Captura de resultados mostrados al aprobar"
                subtitle="Codigo QR de aprobación"
                class="carousel-item back-gray"
                />
            </swiper-slide>
            <swiper-slide>
                <NumberCard 
                text="Seguridad conductual"
                number="100%"
                class="carousel-item back-orange mb-3"
                />
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/free-mode';
import 'swiper/css/pagination';
import { FreeMode, Autoplay } from 'swiper/modules';
import NumberCard from './NumberCard.vue';
import ImageCard from './ImageCard.vue';
import Approved from '../assets/img/kaumon-screen/webp/approved.webp'
import Trip from '../assets/img/kaumon-screen/webp/trips.webp'
import Traveling from '../assets/img/kaumon-screen/webp/traveling.webp'
import Panic from '../assets/img/kaumon-screen/webp/panic.webp'
import Curso from '../assets/img/kaumon-screen/webp/curso.webp'

export default {
    name: "CarouselCards",
    components: {
        Swiper,
        SwiperSlide,
        NumberCard,
        ImageCard,
    },
    data() {
        return {
            Approved : Approved,
            Trip: Trip,
            Traveling : Traveling,
            Panic : Panic,
            Curso : Curso,
        };
    },
    setup() {
        return {
            modules: [FreeMode, Autoplay],
        };
    },
};
</script>
<style scoped>
.carousel-item {
    transition: transform 0.5s ease-in-out;
    margin: 1rem;
}
.mySwiper {
    cursor: grab;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.p-0{
    padding: 0!important;
}
.mb-3{
    margin-bottom: 3rem!important;
}
@media (min-width: 768px) {
    .mySwiper {
        width: calc(100% + 100px);
        left: -50px;
    }
}
@media (min-width: 1200px) {
    .mySwiper {
        transform: scale(1.3);
        left: 0;
        margin-top: 0;
    }
    .carousel-cards-container{
        overflow: hidden;
        width: calc(100% + 100px);
        position: relative;
        left: -50px;
        height: 700px;
        display: flex;
        align-items: center;
        bottom: 30px;
    }
}
@media (min-width: 1500px) {
    .carousel-cards-container{
        min-height: 800px;
    }
}
@media (min-width: 2300px) {
    .mySwiper {
        transform: scale(1);
    }
    .carousel-cards-container{
        min-height: 1000px;
        left: 0px;
    }
}
</style>
<style>
.swiper-wrapper{
    align-items:center;
}
</style>