<template>
    <div class="container">
        <p v-if="text" class="text">{{ text }}</p>
        <img :src='imgLink' :alt='textAlt'>
        <p v-if="subtitle" class="subtitle">{{ subtitle }}</p>
    </div>
</template>

<script>
export default {
    name: "ImageCard",
    props: {
        text: {
            type: String,
        },
        imgLink: {
            type: String,
        },
        subtitle: {
            type: String,
        },
        textAlt: {
            type: String,
        }
    },
};
</script>

<style scoped>
.container{
    border-radius: 16px;
    padding: 30px 25px;
    text-align: center;
    overflow: hidden;
}
.text{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 1rem;
}
.subtitle{
    padding-top: 1rem;
}
img{
    width: 100%;
    height: auto;
    border-radius: 16px;
}
</style>