<template>
    <form action="">
        <input :id="idEmail" class="input-email" type="email"  name="email" placeholder="Ingrese correo electrónico">
        <input :id="idSubmit" class="input-submit" type="submit" value="Solicitar Demo">
    </form>
</template>

<script>
export default {
    name: "InputMail",
    props: {
        idEmail: {
            type: String,
        },
        idSubmit: {
            type: String,
        },
    },
};
</script>

<style scoped>
form{
    padding: 1rem 0;
    position: relative;
    left: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.input-submit:hover{
    box-shadow: var(--soft-shadow);
    transform: scale(1.05);
}
.input-email:focus-visible{
    outline: var(--gray-input) auto 0px;
    transform: scale(1.05);
}
.input-email{
    border: 0px;
    background-color: var(--gray-input);
    font-family: var(--geo-title);
    border-radius: 25px;   
    width: 200px;
    padding: 14px 20px;
    font-size: 14px;
    transition: transform 0.3s ease;
}
.input-submit{
    background-color: var(--black);
    cursor: pointer;
    color: var(--background);
    border-radius: 25px;
    border: 0px;
    font-family: var(--geo-title);
    text-decoration: none;
    padding: 14px 20px;
    position: relative;
    left: -30px;
    font-size: 14px;
    transition: transform 0.3s ease;
}
@media (min-width:992px) {
    form{
        padding: 2rem 0;
    }
}
@media (min-width:1200px) {
    form{
        padding: 2.5rem 0;
        left: 27px;
    }
    .input-email{ 
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 40px;
        width: 280px;
    }
    .input-submit{
        left: -50px;
        font-size: 18px;
        padding: 15px 35px;
        border-radius: 40px;
    }
}
input[type="email"]::placeholder{
    color: var(--gray-placeholder);
}
</style>