<template>
    <picture>
        <source srcset="../assets/img/kaumon-logos/webp/logo-completo.webp" type="image/webp">
        <source srcset="../assets/img/kaumon-logos/svg/logo-completo.svg" type="image/svg+xml" />
        <source srcset="../assets/img/kaumon-logos/png/logo-completo.png" type="image/png">
        <img src="../assets/img/kaumon-logos/webp/logo-completo.webp" alt="Logo Kaumon" />
    </picture>
</template>

<script>
export default {
    name: "LogoComplete",
};
</script>

<style scoped>
img{
    width: 150px;
    height: auto;
    position: relative;
    top: 3px;
}
@media (min-width:1200px){
    img{
        width: 190px;
    }
}
</style>