<template>
    <picture class="notebook">
        <source srcset="../assets/img/kaumon-mockups/webp/notebook-image.webp" type="image/webp">
        <source srcset="../assets/img/kaumon-mockups/png/notebook-image.png" type="image/png">
        <img src="../assets/img/kaumon-mockups/webp/notebook-image.webp" alt="Notebook con pantalla de Kaumon" />
    </picture>
</template>

<script>
export default {
    name: "NotebookMockup2",
};
</script>

<style scoped>
img{
    margin: 50px 0;
    width: 100%;
    height: auto;
    max-width: 1100px;
}
section#third-feature img{
    width: 160%;
    max-width: none;
    margin: 0;
}
</style>
