<template>
    <div class="screen-container">
        <swiper 
        :direction="'horizontal'"
        :slidesPerView="1"
        :spaceBetween="0"
        :mousewheel="false"
        :loop="true" 
        :modules="modules"
        :autoplay="{
            delay: 3500,
            disableOnInteraction: false,
        }"
        class="mySwiper">
            <swiper-slide>
                <img src="../assets/img/kaumon-screen/jpg/carrusel-1.jpg" alt="Central de Monitoreo">
            </swiper-slide>
            <swiper-slide>
                <img src="../assets/img/kaumon-screen/jpg/carrusel-2.jpg" alt="Dashboard">
            </swiper-slide>
            <swiper-slide>
                <img src="../assets/img/kaumon-screen/jpg/carrusel-3.jpg" alt="Nuevo curso">
            </swiper-slide>
            <swiper-slide>
                <img src="../assets/img/kaumon-screen/jpg/carrusel-4.jpg" alt="Respuestas">
            </swiper-slide>
            <swiper-slide>
                <img src="../assets/img/kaumon-screen/jpg/carrusel-5.jpg" alt="Solicitudes">
            </swiper-slide>
        </swiper>
    </div>
    <picture class="notebook">
        <source srcset="../assets/img/kaumon-mockups/webp/notebook.webp" type="image/webp">
        <source srcset="../assets/img/kaumon-mockups/png/notebook.png" type="image/png">
        <img src="../assets/img/kaumon-mockups/webp/notebook.webp" alt="Notebook con pantalla de Kaumon" />
    </picture>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import { Autoplay, Mousewheel,  } from 'swiper/modules';

export default {
    name: "NotebookMockup",
    components: {
        Swiper,
        SwiperSlide,
    },
    setup() {
        return {
            modules: [Mousewheel, Autoplay],
        };
    },
};
</script>

<style scoped>
img{
    margin: 50px 0;
    width: 100%;
    height: auto;
    max-width: 1100px;
}
section#third-feature img{
    width: 160%;
    max-width: none;
    margin: 0;
}
.screen-container{
    margin: auto;
    position: relative;
    z-index: 1;
    left: 2px;
    top: 62px;
    height: 1px;
}
.mySwiper{
    overflow: hidden;
    height: calc(44.75vw + 3px);
    width: calc(78% - 2px);
    max-width: 850px;
    position: relative;
    z-index: 1;
}
.notebook img{
    position: relative;
    z-index: 5!important;
}
.swiper-slide img{
    margin: 0;
}
@media (min-width: 620px) {
    .screen-container{
        top: 70px;
    }
}
@media (min-width: 768px) {
    .screen-container{
        top: 72px;
    }
}
@media (min-width: 1200px) {
    .screen-container{
        left: 5px;
        top: 70px;
    }
}
</style>