<template>
    <div class="container">
        <p v-if="boldText" class="text bolder">{{ boldText }}</p>
        <p v-if="number" class="number">{{ number }}</p>
        <p v-if="text" class="text">{{ text }}</p>
        <p v-if="subtitle" class="subtitle">{{ subtitle }}</p>
    </div>
</template>

<script>
export default {
    name: "NumberCard",
    props: {
        number: {
            type: String,
        },
        text: {
            type: String,
        },
        boldText: {
            type: String,
        },
        subtitle: {
            type: String,
        },
    },
};
</script>

<style scoped>
.container{
    border-radius: 16px;
    padding: 50px 35px;
}
.number{
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
}
.text{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}
.bolder{
    /* font-weight: 600; */
    padding-bottom: 1.5rem;
}
.subtitle{
    font-size: 30px;
    font-weight: 400;
}
</style>