<template>
    <div class="popover">
        <div class="text">Descargar app</div>
        <div class="triangle"></div>
    </div>    
</template>

<script>
export default {
    name: "PopoverMessage",
};
</script>

<style scoped>
div.text{
    background-color: var(--black);
    color: var(--white);
    width: fit-content;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 12px;
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
div.triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid var(--black);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    transform: rotate(90deg);
    position: relative;
    left: 60px;
}
.popover{
    animation-duration: 1.2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    position: relative;
    width: fit-content;
}
div.text:hover{
    transform: scale(1.05);
    box-shadow: var(--soft-shadow);
}
@keyframes slidein {
    0% { bottom: 0px; }
    50% { bottom: 5px; }
    100% { bottom: 0px; }
}
</style>