<template>
    <div class="container">
        <PopoverMessage class="popover" />
        <div class="logos">        
            <a href="https://play.google.com/store/apps/details?id=cl.kausana.kaumon" target="_blank">
                <img class="google" src="../assets/img/others/google-play.svg" alt="Logotipo de Google Play">
            </a>
            <a href="https://apps.apple.com/es/app/kaumon-2-0/id6473057716" target="_blank">
                <img class="app" src="../assets/img/others/app-store.svg" alt="Logotipo de App Store">
            </a>
        </div>
    </div>
</template>

<script>
import PopoverMessage from '@/components/PopoverMessage.vue'
export default {
    name: "QRCode",
    components: {
        PopoverMessage,
    }
};
</script>

<style scoped>
.logos{
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 7px 7px 0 7px;
}
.popover{
    margin: auto;
}
.container{
    max-width: 90vw;
    gap: 10px;
}
.container img:hover{
    transform: scale(1.05);
}
.container img{
    height: 40px;
    margin: 5px 3px 0 3px;
    transition: transform 0.3s ease;
}
@media (min-width:1200px){
    .logos{
        display: flex;
        flex-direction: column;
    }
    .logos a img{
        height: initial;
        width: 150px;
        margin: 3px 0;
    }
    .container{
        width: fit-content;
        margin: auto;
        position: relative;
        bottom: 340px;
        left: 560px;
        display: initial;
    }
}
</style>