<template>
    <div class="container">
        <p class="title">{{ title }}</p>
        <p class="text">{{ text }}</p>
    </div>
</template>

<script>
export default {
    name: "TextFeature",
    props: {
        title: {
            type: String,
        },
        text: {
            type: String,
        },
    },
};
</script>

<style scoped>
.container{
    border-radius: 16px;
    padding: 0 0 35px 0;
}
.title{
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    padding-bottom: 1rem;
}
.text{
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
}
@media (min-width: 600px) {
    .container{
        padding: 0px 35px 35px 35px;
    }
    .title{
        font-size: 60px;
        line-height: 70px;
    }
    .text{
        font-size: 35px;
        line-height: 45px;
    }
}
@media (min-width: 1200px) {
    .title{
        font-size: 80px;
        line-height: 85px;
    }
    .text{
        font-size: 30px;
        line-height: 37px;
        margin: 2rem 0 2rem 5rem;
    }
}
</style>